*{
    color: #000;
    font-size: 15px;
    font-family: "黑体";
    margin: 0px;
    padding: 0px;
    border: 0px;
    list-style: none;
    text-decoration: none;
	-moz-user-select:none;
}
a:visited{color: #333333
   ;}
a:hover{color: #333333;}
* img{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body{background: #EDF2F6;}
