*{ margin:0; padding:0; list-style:none;}
a{ text-decoration:none;}
a:hover{ text-decoration:none;}
.tcdPageCode{padding: 15px 20px;text-align: left;color: #ccc;text-align:center;}
.tcdPageCode a{display: inline-block;color: #e3393c;display: inline-block;height: 25px;	line-height: 25px;	padding: 0 10px;border: 1px solid #fff;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
.tcdPageCode a:hover{border:1px solid #e3393c; 
	background-color:#e3393c; 
	color:#fff;}
.tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: #e3393c;	border: 1px solid #e3393c;border-radius: 4px;vertical-align: middle;}
.tcdPageCode span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;	color: #bfbfbf #CCC;background: #f2f2f2;border: 1px solid #fff;border-radius: 4px;vertical-align: middle;}